{% extends 'base.html' %}

{% block title %}Návod na cloud{% endblock %}

{% block content %}

<div class="flex justify-center items-center md:text-lg">
<div class="p-4 md:p-8 m-2 rounded-xl bg-blue-50 flex flex-col justify-center items-center gap-2 max-w-[900px]">
  <div class="font-semibold text-2xl mb-2">Instalace Debianu</div> 

  bug- Proč jsou fotky focené na mobil? bug- doplnit sem odkaz na video

  !!Upozornění: Průběh instalace se může lišit podle toho, kolik používáte disků, kolik má vaše zařízení internetových karet etc. Proto jsou zde uvedené obrázky orientační, pozorně čtěte, co je psáno přímo na Vašem zařízení!!

{% load static %}

<div>
  <img src={% static 'img/debian1.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian2.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian3.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian4.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian5.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian6.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian7.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian8.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian9.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian10.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian11.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian12.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian13.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian14.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian15.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian16.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian17.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian18.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian19.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian20.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian21.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian22.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian23.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian24.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian25.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian26.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian27.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian28.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian29.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian30.jpg' %}>
</div>
 
<div>
  <img src={% static 'img/debian31.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian32.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian33.jpg' %}>
</div>

<div>
  <img src={% static 'img/debian34.jpg' %}>
</div>
   
<button class="bg-red-300 p-1 px-3 rounded-md my-3"><a href="{% url 'cloudnávod' %}#debianinstalace">Zpět na návod</a><button>


</div>
</div>


{% endblock %}

