{% extends 'base.html' %}

{% block title %}Návod na cloud{% endblock %}

{% block content %}

<div class="flex justify-center items-center md:text-lg">
<div class="p-4 md:p-8 m-2 rounded-xl bg-blue-50 flex flex-col justify-center items-center gap-2 max-w-[900px]">
  <div class="text-4xl p-2 font-bold text-center border-b-2 border-black mb-3">Vlastní cloud úložiště</div>
  <div class="font-semibold text-2xl mb-2">Co budeme potřebovat?</div> 

<div class="-mb-1">
  <p>Samotný projekt je úzce spojený s operačním systémem <span class="font-semibold">Linux</span> (lépe <a class="text-red-500" href="https://stallman-copypasta.github.io/">GNU/Linux</a>, dále jen Linux). Linux je svobodný a otevřený operační systém, který nabízí mnoho výhod pro tento projekt. Jako konkrétní distribuci zvolíme <span class="font-semibold"><a class="text-red-500" href="https://www.debian.org/">Debian</a></span>.</p>
</div>

<div class="js-more-div my-1 flex flex-col justify-center items-center">
  <div class="js-more-text hidden mb-2">
  <p><span class="font-semibold">Stabilita a spolehlivost:</span> Linux je známý svou stabilitou a spolehlivostí. Debian je jedna z nejstabilnějších distribucí Linuxu, která je dlouhodobě podporována a poskytuje kvalitní softwarové balíčky.</p>
  <p><span class="font-semibold">Bezpečnost</span>: Linux a Debian mají silný důraz na bezpečnost. Díky otevřenému přístupu komunity jsou zranitelnosti rychle nalezeny a opraveny. To je klíčové pro provozování vlastního serveru, kde bezpečnost je prioritou.</p>
  <p><span class="font-semibold">Flexibilita a přizpůsobivost</span>: Linux a Debian nabízejí širokou škálu nástrojů a možností pro konfiguraci a přizpůsobení systému. To je důležité při přeměně starého notebooku na server, protože můžeme snadno nastavit a optimalizovat systém podle našich potřeb.</p>
  <p><span class="font-semibold">Podpora komunity</span>: Linux a Debian mají silnou a aktivní komunitu uživatelů a vývojářů, kteří poskytují pomoc, radu a podporu. Pokud narazíte na nějaký problém, je velká pravděpodobnost, že najdete odpověď nebo návod od ostatních uživatelů.</p>
  </div>
  <button class="js-more-button bg-red-300 p-1 px-3 rounded-md">Více<button>
</div>

<div class="-mb-1">
  <p>Pro hostování našeho vlastního cloud úložiště využijeme z níže uvedených důvodů aplikaci <span class="font-semibold"><a href="https://nextcloud.com/">Nextcloud</a></span>.</p>
</div>

<div class="js-more-div my-1 flex flex-col justify-center items-center">
  <div class="js-more-text hidden mb-2">
    <ol class="list-decimal list-inside">
      <li>
      Nextcloud je open-source platforma, která nám poskytuje větší kontrolu a možnost přizpůsobit ji našim potřebám.
      </li>
      <li>
      Bezpečnost a ochrana dat: Nextcloud se zaměřuje na bezpečnost a ochranu dat, poskytuje šifrování a další bezpečnostní funkce.
      </li>
      <li>
      Rozšiřitelnost a funkcionality: Nextcloud nabízí bohatou sadu funkcí a rozšíření, které umožňují přizpůsobit a rozšířit naše cloudové úložiště.
      </li>
      <li>
      Dostupnost z různých zařízení: S Nextcloud můžeme snadno přistupovat ke svým datům z různých zařízení, což přináší pohodlí a flexibilitu.
      </li>
      <li>
      Podpora komunity: Nextcloud má aktivní komunitu uživatelů a vývojářů, kteří poskytují podporu a sdílí své zkušenosti.
      </li>
  </ol>
  </div>
  <button class="js-more-button bg-red-300 p-1 px-3 rounded-md">Více<button>
</div>


<div class="">
  <p>Pro projekt samozřejmě potřebujeme vhodné zařízení. Tedy nějaký <span class="font-semibold">starší nevyužitý notebook, či stolní počítač</span>. Uvedu příklad notebooku, který je pro tento projekt ideální. Přitom Vám uvedu <span class="font-semibold">podmínky</span>, které zařízení musí splňovat a další užitečné vlastnosti.</p>
</div>

<div class="w-full">
  <p>Představuji Vám <span class="font-semibold">Lenovo Thinkpad T430</span>.</p>
</div>

<div class="">
    {% load static %}
    <img src={% static '/img/t430.webp' %} alt="" class="navodpng">
  <p class="text-center">(<a class="text-red-500" href="https://www.thinkwiki.org/wiki/Category:T430">info</a>, <a class="text-red-500" href="https://www.levnapc.cz/notebooky-lenovo-thinkpad-t430-rada.html">levnapc</a>, <a class="text-red-500" href="https://www.pocitacezababku.cz/Pouzite-notebooky.htm?search=thinkpad+t430">pocitacezababku</a>)</p>
</div>

<div class="w-full">
  <p>Tento notebok je ideální pro tento projekt, neboť obsahuje <span class="font-semibold">nutné součásti</span>:</p>
  <ul class="list-disc list-inside">
    <li>ethernet port</li>
    <li>slot na pevný disk 2.5&quot;</li>
  </ul>
</div>

<div class="">
  <p>Má i další výhody. Jeho CD mechanika se dá vyměnit za další prostor pro disk (<a class="text-red-500" href="https://www.alza.cz/orico-2-5-hdd-ssd-caddy-for-laptops-9-5mm-d5790543.htm">zde</a>) a je místo ještě na mSATA disk (<a class="text-red-500" href="https://www.youtube.com/watch?v=QaWEkKYc-94">zde</a> a <a class="text-red-500" href="https://www.alza.cz/pevne-disky/msata/18842851-par280-218378621.htm#f&amp;cst=0&amp;cud=0&amp;pg=1&amp;prod=&amp;par280=280-218378621">zde</a>).</p>
</div>

<div>
  <p>Jako další budeme potřebovat <span class="font-semibold">internetový kabel</span>, kterým připojíme notebook k našemu routeru.</p>
  <p>Také potřebujeme prázdný <span class="font-semibold">USB flash disk</span>, který použijeme k instalaci Debianu. bug-Velikost</p>
  <p>Nakonec samozřejmě potřebuje náš <span class="font-semibold">pevný disk</span>, na který budeme instalovat, <span class="font-semibold">vložený do notebooku</span>.</p>
</div>

<div>
    (<em>Pokud si nevíte rady s tím, jak se do vašeho zařízení disk vkládá, doporučuji najít si demontážní video vašeho notebooku, např. <a class="text-red-500" href="https://www.youtube.com/results?search_query=t430+disassembly">zde</a></em>)
</div>

<hr class="border border-black w-full my-1">


<div class="font-semibold text-2xl my-2">Instalace Debianu</div> 

<div class="font-semibold text-xl mb-2">Live-USB</div> 

<div class="flex flex-col gap-2">
  <p>Nejdříve si musíme připravit takzvané <span class="font-semibold">live-usb</span>, to znamená usb flash disk, z kterého můžeme nabootovat a poté nainstalovat Debian.</p>
  <p>V tomto návodu popíšu postup u operačního systému <span class="font-semibold">windows</span>, neboť se bude vztahovat na největší procento lidí.</p>
  <p>Osobně doporučuji aplikaci <a class="text-red-500" href="https://rufus.ie/en/">Rufus</a>, kterou i budu používat v tomto návodu. Jiná možnost, se kterou mám zkušenosti je <a class="text-red-500" href="https://etcher.balena.io/">balenaEtcher</a>.</p>
  <p><span class="font-semibold">Nainstalujte aplikaci Rufus</span> na windows tak, jak jste zvyklí. (přímý odkaz na instalační soubor <a class="text-red-500" href="https://github.com/pbatard/rufus/releases/download/v4.1/rufus-4.1.exe">zde</a>)</p>
  <p>Stáhněte instalační soubor Debianu ze stránky <a href="https://www.debian.org/download">zde</a>. V době tvorby tohoto návodu je jeho název <span class="font-semibold">debian-12.0.0-amd64-netinst.iso</span>, číslo reprezentující verzi se může v budoucnu lišit.</p>
  <p><span class="font-semibold">Otevřete aplikaci Rufus a zapojte Váš usb flash disk</span> (!! o data na flash disku tímto procesem přijdete, proto prosím použijte disk prázdný, nebo s daty, která nepotřebujete!!)</p>
</div>

<div>
  <img src={% static 'img/rufus1.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div>Na zvýrazněném místě se musí zobrazit váš usb flash disk.</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus2.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">Select</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus3.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1">Vyberte dříve stažený <span class="font-semibold">instalační soubor debianu</span>.</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus4.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">START</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus5.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">OK</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus6.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">Yes</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus7.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">OK</span></div>

<hr class="border border-gray-400 w-full my-1">

<div class="w-full">
	<p><span class="font-semibold">Nyní bude probíhat samotná tvorba live-usb, může to nějakou dobu trvat&hellip;</span></p>
</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus8.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">READY</span></div>

<div class="w-full">
	<p>Naše <span class="font-semibold">live-usb je připravené</span>.</p>
</div>

<hr class="border border-black w-full my-1">

<div class="font-semibold text-xl mb-2">Instalace na hardware</div> 

<p>Vaše zařízení s vloženým diskem <span class="font-semibold">zapojte do zdroje</span>, připojte ho k Vašemu routeru <span class="font-semibold">internetovým</span> kabelem a připojte naše <span class="font-semibold">live-usb</span>.</p>

<div>
  <img src={% static 'img/hardware1.jpg' %}>
</div>

<div class="w-full">
	<p>Při zapínání zařízení musíme vybrat jako <span class="font-semibold">zdroj bootování</span> naše <span class="font-semibold">live-usb</span>.</p>
</div>

<div class="w-full">
	<p>Proto se musíme dostat do <span class="font-semibold">boot menu při zapínání počítače</span>.</p>
</div>

<div class="w-full">
	<p>Toho se docílí různě, záleží na modelu vašeho zařízení, pro zjištění hledejte instrukce přímo k vašemu zařízení nebo aspoň výrobci na internetu, ale většinou vidíte nějaké instrukce na obrazovce již při zapínání počítače.</p>
</div>

<a name="preboot"></a>
<button class="bg-red-300 p-1 px-3 rounded-md"><a href={% url 'boot-tips' %}>Více</a></button>

<div class="w-full">
	<p>Na mém thinkpadu stačí po zmáčknutí tlačítka napájení mačkat tlačítko f12.</p>
</div>

<div>
  <img src={% static 'img/hardware2.jpg' %}>
</div>

<div>
  <img src={% static 'img/hardware3.jpg' %}>
</div>
  
<hr class="border border-gray-400 w-full my-1">

<div class="w-full">
  <p><span class="font-semibold">Vyberte jako zdroj bootování USB disk.</span></p>
</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/hardware4.jpg' %}>
</div>

<div class="w-full">
  <p>bug- Secure boot? Bios lock?</p>
</div>
  
<div class="w-full">
  <p>Nyní musíme provést samotnou instalaci debianu, naštěstí má celá instalace velmi příjemné uživatelské prostředí, zvolte jazyk podle vašeho výběru a instalaci projděte krok po kroku. Pro pomoc přikládám fotografie z takové probíhající instalace.</p>
</div>
  
<a name="debianinstalace"></a>
<button class="bg-red-300 p-1 px-3 rounded-md"><a href={% url 'debian-instalace' %}>Instalace Debianu</a></button>

    
<div class="w-full">
  <p>Během restartování zařízení po úspěšné instalaci nezapomeňte vypojit <span class="font-semibold">live-usb</span>.</p>
</div>

<div class="w-full">
  <p>Po restartu byste měli vidět tmavou obrazovku a na ní napsáno něco podobného:</p>
</div>
    
<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Debian GNU/Linux 12 server tty1  
    
server login: <span class="animate-pulse">_</span>
  </pre>
</div>
    
    
    
<div class="w-full">
  <p><span class="font-semibold">Gratuluji</span> k úspěšné instalaci debianu!</p> 
</div>

<hr class="border border-black w-full my-1">

<div class="font-semibold text-xl mb-2">Sudo</div> 

<div class="w-full">
	<p>Nyní musíme dát našemu účtu práva administrátora, abychom mohli provádět změny a instalovat programy. K tomu využijeme program <span class="font-semibold">sudo</span>.</p>
</div>
<div class="w-full">
	<p>Nejdříve se však musíme přihlásit pomocí <span class="font-semibold">root</span> účtu, nainstalovat a nastavit program <span class="font-semibold">sudo</span>.</p>
</div>



<div class="js-more-div my-1 flex flex-col justify-center items-center gap-2">
  <div class="js-more-text hidden mb-2">
    <p class="my-1">Root účet je speciální uživatelský účet na UNIX-like operačních systémech, který má nejvyšší úroveň přístupových práv. Má kompletní kontrolu nad systémem a může provádět jakékoli operace, včetně změn v kritických částech systému. Zabezpečení root účtu je důležité, protože zneužití tohoto účtu může vést k vážným problémům a ohrožení systému.</p>
    <p class="my-1">Sudo je nástroj, který umožňuje běžným uživatelům vykonávat příkazy s oprávněními root účtu. Tímto způsobem není nutné se přihlašovat přímo jako root uživatel, což snižuje riziko chyb a zabezpečení systému. Sudo také poskytuje možnost řízení přístupových práv pro různé uživatele a skupiny.</p>
    <p class="my-1">Nastavení sudo je lepší volbou, protože umožňuje oddělení běžných uživatelských operací od operací vyžadujících zvýšená práva. To znamená, že můžete být běžným uživatelem a příležitostně vykonávat administrátorské úkony pomocí sudo, místo aby byl váš účet trvale v režimu root. Tím se minimalizuje riziko chyb a zneužití root přístupu a zvyšuje se celková bezpečnost systému.</p>
  </div>
  <button class="js-more-button bg-red-300 p-1 px-3 rounded-md">Více<button>
</div>

<div>
  <ol class="list-decimal list-inside">
    <li>
	    Pro přihlášení napište <span class="font-semibold">root</span> a zmáčkněte ENTER.
    </li>
    <li>
	    Poté Vaše <span class="font-semibold">heslo administrátora</span> (které jste nastavili během instalace) a ENTER. (během psaní hesla neuvidíte, že se něco píše, je to tak správně)
    </li>
  </ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Debian GNU/Linux 12 server tty1

server login: root
Password:
Linux server 6.1.0-9-amd64 #1 SMP PREEMPT_DYNAMIC Debian 6.1.27-1 (2023-05-08) X86_64

The programs included with the Debian GNU/Linux system are free software:
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO HARRANTY, to the extent
permitted by applicable law.
root@server:~$ <span class="animate-pulse">_</span>
  </pre>
</div>

<div class="w-full">
  <ol class="list-decimal list-inside" start="3">
    <li>Aktualizujeme seznam dostupných software balíčků:</li>
  </ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
apt update
  </pre>
</div>

<div class="w-full">
  <p>(pokud chcete rozumět příkazu apt a tomu, o čem je tu vlastně řeč:)</p>
</div> 

<a name="preapt"></a>
<button class="bg-red-300 p-1 px-3 rounded-md"><a href={% url 'apt' %}>apt návod</a></button>

<div class="w-full">
	<p>(zde je obecný linux guide <a class="text-red-500" href="https://www.tecmint.com/free-online-linux-learning-guide-for-beginners/">linux-learning-guide-for-beginners</a>)</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Hit:1 http://security.debian.org/debian-security bookworm-security InRelease
Hit:2 http://deb.debian.org/debian bookworm InRelease
Hit:3 http://deb.debian.org/debian bookworm-updates InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
All packages are up to date.
root@server:/# <span class="animate-pulse">_</span>
  </pre>
</div>

<div class="w-full">
  <ol class="list-decimal list-inside" start="4">
    <li>Nyní musíme nainstalovat program <span class="font-semibold">sudo</span></li>
  </ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
apt install sudo
  </pre>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  sudo
0 upgraded, 1 newly installed, 0 to remove and 0 not upgraded.
Need to get 1,889 kB of archives.
After this operation, 6,199 kB of additional disk space will be used.
Get:1 http://deb.debian.org/debian bookworm/main amd64 sudo amd64 1.9.13p3-1 [1,889 kB]
Fetched 1,889 kB in 0s (5,655 kB/s)
Selecting previously unselected package sudo.
(Reading database ... 34758 files and directories currently installed.)
Preparing to unpack .../sudo_1.9.13p3-1_amd64.deb ...
Unpacking sudo (1.9.13p3-1) ...
Setting up sudo (1.9.13p3-1) ...
Processing triggers for man-db (2.11.2-2) ...
Processing triggers for libc-bin (2.36-9) ...
root@server:/# <span class="animate-pulse">_</span>
  </pre>
</div>

<div class="w-full">
<ol class="list-decimal list-inside" start="5">
	<li>Nyní musíte <span class="font-semibold">přidat</span> váš stávající uživatelský účet do skupiny <span class="font-semibold">sudoers</span>. Přidání uživatele do skupiny sudoers se provádí pomocí příkazu <span class="font-semibold">usermod</span>. Nahraďte <em>uzivatel</em> za jméno vašeho stávajícího uživatele. Spusťte následující příkaz:</li>
</ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
usermod -aG sudo uzivatel
  </pre>
</div>

<div class="w-full">
	<p>Na příkaz nebudete mít od terminálu žádnou odezvu, pokud je vše správně.</p>
</div>

<div class="w-full">
<ol start="6" class="list-decimal list-inside">
<li>Nyní ověříme, že změny byly provedeny, odhlašte se z účtu root pomocí:</li>
</ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
exit
  </pre>
</div>


<div class="w-full">
<ol start="7" class="list-decimal list-inside">
	<li>Nyní se přihlašte pomocí vašeho <em>uživatelského jména</em> a <em>hesla</em> <span class="font-semibold">normálního</span> uživatele.</li>
</ol>
</div>

<div class="w-full">
	<p>V mém případě:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Debian GNU/Linux 12 server tty1

server login: jh 
Password:
Linux server 6.1.0-9-amd64 #1 SMP PREEMPT_DYNAMIC Debian 6.1.27-1 (2023-05-08) X86_64
    
The programs included with the Debian GNU/Linux system are free software:
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.
    
Debian GNU/Linux comes with ABSOLUTELY NO HARRANTY, to the extent
permitted by applicable law.
Last login: Wed Jul 5 15:54:03 CEST 2023 from 192.168.0.104 on pts/0
jh@server:~$ <span class="animate-pulse">_</span> 
  </pre>
</div>

<div class="w-full">
<ol start="8" class="list-decimal list-inside">
  <li>Teď ověříme, zda máme skutečně práva administrátora a to příkazem, který aktualizuje seznam dostupných software balíčků.
  </li>
</ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
sudo apt update
  </pre>
</div>

<div class="w-full">
  <p>Budete vyzváni o zadání hesla:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Last login: Wed Jul 5 15:54:03 CEST 2023 from 192.168.0.104 on pts/0
jh@server:"$ sudo apt update
[sudo] password for jh:
  </pre>
</div> 
<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Hit:1 http://deb.debian.org/debian bookworm InRelease
Hit:2 http://security.debian.org/debian-security bookworm-security InRelease
Hit:3 http://deb.debian.org/debian bookworm-updates InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information...Done
All packages are up to date.
jh@server:"$ <span class="animate-pulse">_</span> 
  </pre>
</div>

<div class="w-full">
	<p><span class="font-semibold">Náš uživatel má nyní práva administrátora.</span></p>
</div>

<div class="w-full">
	<p>Nyní jste schopni pokračovat dále v návodu v tomto terminálu, pro pohodlnější přístup a možnost kopírování příkazů čtěte <span class="font-semibold">ssh</span>.</p>
</div>

<hr class="border border-black w-full my-1">

<div class="font-semibold text-xl mb-2">SSH</div> 

<div class="w-full">
	<p>K pohodlnějšímu přístupu k Vašemu serveru je nyní příhodné nainstalovat <span class="font-semibold">ssh</span> a naučit se s ním. Tento návod se dá zvládnout i bez tohoto kroku, ale já ho <span class="font-semibold">silně doporučuji</span> i pro pozdější případnou vzdálenou správu serveru.</p>
</div>

<button class="bg-red-300 p-1 px-3 rounded-md"><a href="{% url 'cloudnávod' %}#postssh">Přeskočit</a></button>

<div class="font-semibold text-lg w-full">Co je SSH:</div> 

<div class="w-full">
	<p>SSH (Secure Shell) je zabezpečený protokol pro vzdálenou správu a přenos dat mezi dvěma zařízeními. Pomocí SSH můžete přistupovat ke vzdáleným serverům z jiných zařízení a provádět různé úkony, jako je ovládání serveru, kopírování souborů nebo spuštění příkazů pomocí příkazové řádky.</p>
</div>

<div class="font-semibold text-lg w-full">Debian server:</div> 


<div class="w-full">
	<p>SSH server jsme již nainstalovali na Debian serveru během grafické instalace.</p>
</div>

<div class="font-semibold text-lg w-full">Windows počítač:</div> 

<div class="w-full">
	<p>Na windowsu budeme jako terminál využívat <span class="font-semibold">windows powershell</span>. Pogram spustíte tak, že jej normálně vyhledáte v nabídce start.</p>
</div>

<div class="w-full">
	<p>Chcete-li používat SSH v PowerShellu ve Windows, musíte povolit funkci OpenSSH Client. Zde je návod, jak to udělat:</p>
</div>

<div class="w-full">
<ol class="list-decimal list-inside ms-2">
<li>Otevřete nabídku Start a vyhledejte &ldquo;Správa volitelných funkcí&rdquo; a otevřete odpovídající nastavení.</li>
<li>Klikněte na možnost &ldquo;Přidat funkci&rdquo; nebo &ldquo;Přidat funkci nebo balíček&rdquo;.</li>
<li>Přejděte dolů a vyhledejte &ldquo;OpenSSH Client&rdquo; v seznamu dostupných funkcí.</li>
<li>Zaškrtněte políčko vedle &ldquo;OpenSSH Client&rdquo; a klikněte na tlačítko &ldquo;Instalovat&rdquo; nebo &ldquo;Další&rdquo;, abyste spustili proces instalace.</li>
<li>Počkejte, až se instalace dokončí.</li>
</ol>
</div>

<div class="w-full">
	<p>Jakmile je funkce OpenSSH Client nainstalována, můžete v PowerShellu ve Windows použít příkaz <code class="text-red-600">ssh</code> pro připojení k vzdáleným serverům pomocí SSH.</p>
</div>

<div class="w-full">
	<p>Pokud používáte starší verzi Windows, která neobsahuje vestavěný klient OpenSSH, stále můžete nainstalovat SSH klienty třetích stran, jako je <a class="text-red-500" href="https://www.putty.org/">PuTTY</a>.</p>
</div>

<div class="font-semibold text-lg w-full">Připojení k serveru</div> 

<div class="font-semibold text-gray-600 text-lg w-full">Získání IP adresy na Debian serveru:</div> 

<div class="w-full">
	<p>Na Debianu zadejte následující příkaz:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
ip addr
  </pre>
</div>

<div class="w-full">
	<p>Výpis zobrazí seznam síťových rozhraní. Najděte rozhraní, které je připojeno k internetu (v mém případě <span class="font-semibold">&ldquo;2: enpos25&rdquo;</span>).</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
jh@server:"$ ip addr

1: 10:  mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
inet 127.0.0.1/8 scope host lo
valid_lft forever preferred_lft forever
inet6 :1/128 scope host
valid_lft forever preferred_lft forever
2: enpos25:  mtu 1500 qdisc fq_codel state UP group default qlen 1000
link/ether 00:21:cc:c3:db:9c brd ff:ff:ff:ff:ff:ff
inet 192.168.0.164/24 brd 192.168.0.255 scope global dynamic enpes25
valid_lft 7173sec preferred_lft 7173sec
inet6 fe80::221:ccff:fec3:db9c/64 scope link
valid_lft forever preferred_1ft forever
3: wwx0215e0ec0100:  mtu 1500 qdisc noop state DOHN group default qlen 1000
link/ether 02:15:e0:ec:01:00 brd ff:ff:ff:ff:ff:ff
4: wlp3s0:  mtu 1500 qdisc noop state DOWN group default qlen 1000
link/ether 9c:4e:36:36:b7:d8 brd ff:ff:ff:ff:ff:ff
   
jh@server:"$ <span class="animate-pulse">_</span>
  </pre>
</div>

<div class="w-full">
	<p>Vedle položky &ldquo;inet&rdquo; u tohoto rozhraní se nachází IP adresa serveru. Zaznamenejte si tuto IP adresu, protože ji budete potřebovat pro připojení.</p>
</div>

<div class="w-full">
	<p>V mém případě: <span class="font-semibold">inet 192.168.0.164</span></p>
</div>

<div class="w-full">
	<p><span class="font-semibold">Připojení k Debian serveru ze systému Windows:</span></p>
</div>

<div class="w-full">
	<p>Na Windows počítači otevřete <span class="font-semibold">windows powershell</span>.</p>
</div>

<div class="w-full">
	<p>Zadejte následující příkaz pro vytvoření SSH připojení:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
ssh uživatelské_jméno@ip_adresa
  </pre>
</div>

<div class="w-full">
	<p>uživatelské_jméno: Zadejte uživatelské jméno, které jste vytvořili při instalaci Debian serveru.</p>
</div>

<div class="w-full">
	<p>ip_adresa: Zadejte ip adresu, kterou jste zjistili v předchozím kroku.</p>
</div>

<div class="w-full">
	<p><span class="font-semibold">V mém případě:</span></p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
ssh jh@192.168.0.164 
  </pre>
</div>

<div>
  <img src={% static 'img/ssh1.png' %}>
</div>

<div class="w-full">
	<p>Po zadání příkazu budete muset potvrdit fingeprint (yes) a přihlásit se zadáním hesla pro uživatele na Debian serveru.</p>
</div>

<div>
  <img src={% static 'img/ssh2.png' %}>
</div>

<div>
  <img src={% static 'img/ssh3.png' %}>
</div>

<div class="w-full">
	<p class="font-semibold">Pokud je vše správně, jste připojeni k Debian serveru přes SSH a můžete provádět různé úkony pomocí příkazového řádku vzdáleně.</p>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="w-full">
	<p class="italic text-gray-600">Poznámka 1: Nepoužívám windows, proto moje screenshoty vypadají takto, nenechte se tím zmást. Pokud jste windows uživatel, vystačíte si s powershellem. Do programu můžete vkládat příkazy, které zkopírujete z tohoto návodu (pomocí ctrl+c), následně je vložíte kliknutím pravým tlačítkem myši.</p>
</div>

<div class="w-full">
	<p class="italic text-gray-600">Poznámka 2: Vaše IP adresa nejspíš bude vypadat nějak podobně jako moje, bude se pravděpodobně lišit jen posledním číslem, je to proto, že jsme zatím náš server nevystavili zevnímu internetu, proto je dostupný jen z vaší domácí sítě a to i pomocí ssh. Prozatím musíte být připojeni ke stejné síti, abyste se k serveru mohli připojit.</p>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="font-semibold text-xl mb-2">NginX webserver</div> 

<a name="postssh"></a>

<div class="w-full">
	<p class="font-semibold">Připojte se k vašemu serveru přes ssh nebo přistupte k Vašemu zařízení a přihlašte se.</p>
</div>

<div class="w-full">
	<p class="">Nyní budeme instalovat Nginx (čti Engine X) webový server, který budeme potřebovat pro Nextcloud a můžeme na něm i hostovat webové stránky.</p>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="w-full">
	<p class="italic text-gray-600">Poznámka: Nyní budeme provádět mnoho adminstorských příkazů, proto abychom všude nemuseli psát sudo, můžeme se stát na chvíli root účtem, toho docílíte takto:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
sudo su
  </pre>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="w-full">
	<p>Aktualizujte repozitáře:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
apt update 
  </pre>
</div>

<div class="w-full">
	<p>Instalujte NginX:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
apt install nginx
  </pre>
</div>

<div class="w-full">
	<p class="italic text-gray-600">Potvrďte Y, pokud třeba.</p>
</div>

<div>
  <img src={% static 'img/nginx1.png' %}>
</div>

<div class="w-full">
	<p>Základní konfigurační soubory pro Nginx se nacházejí ve složce /etc/nginx, kam se nyní přesuneme, proto:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
cd /etc/nginx
  </pre>
</div>

<div class="w-full">
	<p class="italic text-gray-600">cd jako change directory</p>
</div>

<div class="w-full">
	<p>Podívejme se, co se nachází v této složce:</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
ls
  </pre>
</div>

<div class="w-full">
	<p class="italic text-gray-600">ls jako list</p>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
root@debianserver:/etc/nginx# ls
conf.d          koi-utf     modules-available  proxy_params     sites-enabled  win-utf
fastcgi.conf    koi-win     modules-enabled    scgi_params      snippets
fastcgi_params  mime.types  nginx.conf         sites-available  uwsgi_params
root@debianserver:/etc/nginx# <span class="animate-pulse">_</span>
  </pre>
</div>

<div class="w-full">
	<p>Nejvíce nás budou zajímat složky <span class="font-semibold">sites-available</span> a <span class="font-semibold">sites-enabled</span>. V adresáři sites-available se nachází konfigurační soubory pro jednotlivé webové stránky, které mohou být aktivovány. V adresáři sites-enabled jsou symbolické odkazy na aktivované webové stránky, které jsou používány Nginxem.</p>
</div>

<div class="js-more-div flex flex-col justify-center items-center">
  <div class="hidden js-more-text">
  <div class="flex flex-col gap-3">
  <p>conf.d: Tento adresář obsahuje další konfigurační soubory, které mohou být použity pro různá nastavení serveru. Můžete do tohoto adresáře umístit vlastní konfigurační soubory pro specifické webové aplikace nebo rozšíření.</p>
  <p>modules-available a modules-enabled: Tyto adresáře obsahují moduly Nginx, které mohou být povoleny nebo zakázány. V adresáři modules-available jsou k dispozici všechny dostupné moduly, zatímco v adresáři modules-enabled jsou symbolické odkazy na moduly, které jsou aktuálně povoleny.</p>
  <p>snippets: Tento adresář obsahuje krátké konfigurační kousky (snippety), které lze použít v jiných konfiguračních souborech. Tyto snippety usnadňují opakované používání konfiguračního kódu a usnadňují údržbu.</p>
  <p>nginx.conf: Tento soubor je hlavním konfiguračním souborem Nginx. Obsahuje globální nastavení a také odkazy na další konfigurační soubory, které se používají pro specifická nastavení.</p>
  </div>
  </div>
  <button class="js-more-button bg-red-300 p-1 px-3 rounded-md">Více</button>
</div>










</div>
</div>

<script src="{% static 'js/cloud-návod.js' %}"></script>

{% endblock %}

