{% extends 'base.html' %}

{% block title %}Návod na cloud{% endblock %}

{% block content %}

<div class="flex justify-center items-center md:text-lg">
<div class="p-4 md:p-8 m-2 rounded-xl bg-blue-50 flex flex-col justify-center items-center gap-2 max-w-[900px]">
  <div class="text-4xl p-2 font-bold text-center border-b-2 border-black mb-3">Vlastní cloud úložiště</div>
  <div class="font-semibold text-2xl mb-2">Co budeme potřebovat?</div> 

<div class="-mb-1">
  <p>Samotný projekt je úzce spojený s operačním systémem <span class="font-semibold">Linux</span> (lépe <a class="text-red-500" href="https://stallman-copypasta.github.io/">GNU/Linux</a>, dále jen Linux). Linux je svobodný a otevřený operační systém, který nabízí mnoho výhod pro tento projekt. Jako konkrétní distribuci zvolíme <span class="font-semibold"><a class="text-red-500" href="https://www.debian.org/">Debian</a></span>.</p>
</div>

<div class="js-more-div my-1 flex flex-col justify-center items-center">
  <div class="js-more-text hidden mb-2">
  <p><span class="font-semibold">Stabilita a spolehlivost:</span> Linux je známý svou stabilitou a spolehlivostí. Debian je jedna z nejstabilnějších distribucí Linuxu, která je dlouhodobě podporována a poskytuje kvalitní softwarové balíčky.</p>
  <p><span class="font-semibold">Bezpečnost</span>: Linux a Debian mají silný důraz na bezpečnost. Díky otevřenému přístupu komunity jsou zranitelnosti rychle nalezeny a opraveny. To je klíčové pro provozování vlastního serveru, kde bezpečnost je prioritou.</p>
  <p><span class="font-semibold">Flexibilita a přizpůsobivost</span>: Linux a Debian nabízejí širokou škálu nástrojů a možností pro konfiguraci a přizpůsobení systému. To je důležité při přeměně starého notebooku na server, protože můžeme snadno nastavit a optimalizovat systém podle našich potřeb.</p>
  <p><span class="font-semibold">Podpora komunity</span>: Linux a Debian mají silnou a aktivní komunitu uživatelů a vývojářů, kteří poskytují pomoc, radu a podporu. Pokud narazíte na nějaký problém, je velká pravděpodobnost, že najdete odpověď nebo návod od ostatních uživatelů.</p>
  </div>
  <button class="js-more-button bg-red-300 p-1 px-3 rounded-md">Více<button>
</div>

<div class="-mb-1">
  <p>Pro hostování našeho vlastního cloud úložiště využijeme z níže uvedených důvodů aplikaci <span class="font-semibold"><a href="https://nextcloud.com/">Nextcloud</a></span>.</p>
</div>

<div class="js-more-div my-1 flex flex-col justify-center items-center">
  <div class="js-more-text hidden mb-2">
    <ol class="list-decimal list-inside">
      <li>
      Nextcloud je open-source platforma, která nám poskytuje větší kontrolu a možnost přizpůsobit ji našim potřebám.
      </li>
      <li>
      Bezpečnost a ochrana dat: Nextcloud se zaměřuje na bezpečnost a ochranu dat, poskytuje šifrování a další bezpečnostní funkce.
      </li>
      <li>
      Rozšiřitelnost a funkcionality: Nextcloud nabízí bohatou sadu funkcí a rozšíření, které umožňují přizpůsobit a rozšířit naše cloudové úložiště.
      </li>
      <li>
      Dostupnost z různých zařízení: S Nextcloud můžeme snadno přistupovat ke svým datům z různých zařízení, což přináší pohodlí a flexibilitu.
      </li>
      <li>
      Podpora komunity: Nextcloud má aktivní komunitu uživatelů a vývojářů, kteří poskytují podporu a sdílí své zkušenosti.
      </li>
  </ol>
  </div>
  <button class="js-more-button bg-red-300 p-1 px-3 rounded-md">Více<button>
</div>


<div class="">
  <p>Pro projekt samozřejmě potřebujeme vhodné zařízení. Tedy nějaký <span class="font-semibold">starší nevyužitý notebook, či stolní počítač</span>. Uvedu příklad notebooku, který je pro tento projekt ideální. Přitom Vám uvedu <span class="font-semibold">podmínky</span>, které zařízení musí splňovat a další užitečné vlastnosti.</p>
</div>

<div class="w-full">
  <p>Představuji Vám <span class="font-semibold">Lenovo Thinkpad T430</span>.</p>
</div>

<div class="">
  <figure>
    {% load static %}
    <img src={% static '/img/t430.webp' %} alt="" class="navodpng">
  </figure>
  <p class="text-center">(<a class="text-red-500" href="https://www.thinkwiki.org/wiki/Category:T430">info</a>, <a class="text-red-500" href="https://www.levnapc.cz/notebooky-lenovo-thinkpad-t430-rada.html">levnapc</a>, <a class="text-red-500" href="https://www.pocitacezababku.cz/Pouzite-notebooky.htm?search=thinkpad+t430">pocitacezababku</a>)</p>
</div>

<div class="w-full">
  <p>Tento notebok je ideální pro tento projekt, neboť obsahuje <span class="font-semibold">nutné součásti</span>:</p>
  <ul class="list-disc list-inside">
    <li>ethernet port</li>
    <li>slot na pevný disk 2.5&quot;</li>
  </ul>
</div>

<div class="">
  <p>Má i další výhody. Jeho CD mechanika se dá vyměnit za další prostor pro disk (<a class="text-red-500" href="https://www.alza.cz/orico-2-5-hdd-ssd-caddy-for-laptops-9-5mm-d5790543.htm">zde</a>) a je místo ještě na mSATA disk (<a class="text-red-500" href="https://www.youtube.com/watch?v=QaWEkKYc-94">zde</a> a <a class="text-red-500" href="https://www.alza.cz/pevne-disky/msata/18842851-par280-218378621.htm#f&amp;cst=0&amp;cud=0&amp;pg=1&amp;prod=&amp;par280=280-218378621">zde</a>).</p>
</div>

<div>
  <p>Jako další budeme potřebovat <span class="font-semibold">internetový kabel</span>, kterým připojíme notebook k našemu routeru.</p>
  <p>Také potřebujeme prázdný <span class="font-semibold">USB flash disk</span>, který použijeme k instalaci Debianu. bug-Velikost</p>
  <p>Nakonec samozřejmě potřebuje náš <span class="font-semibold">pevný disk</span>, na který budeme instalovat, <span class="font-semibold">vložený do notebooku</span>.</p>
</div>

<div>
    (<em>Pokud si nevíte rady s tím, jak se do vašeho zařízení disk vkládá, doporučuji najít si demontážní video vašeho notebooku, např. <a class="text-red-500" href="https://www.youtube.com/results?search_query=t430+disassembly">zde</a></em>)
</div>

<hr class="border border-black w-full my-1">


<div class="font-semibold text-2xl my-2">Instalace Debianu</div> 

<div class="font-semibold text-xl mb-2">Live-USB</div> 

<div class="flex flex-col gap-2">
  <p>Nejdříve si musíme připravit takzvané <span class="font-semibold">live-usb</span>, to znamená usb flash disk, z kterého můžeme nabootovat a poté nainstalovat Debian.</p>
  <p>V tomto návodu popíšu postup u operačního systému <span class="font-semibold">windows</span>, neboť se bude vztahovat na největší procento lidí.</p>
  <p>Osobně doporučuji aplikaci <a class="text-red-500" href="https://rufus.ie/en/">Rufus</a>, kterou i budu používat v tomto návodu. Jiná možnost, se kterou mám zkušenosti je <a class="text-red-500" href="https://etcher.balena.io/">balenaEtcher</a>.</p>
  <p><span class="font-semibold">Nainstalujte aplikaci Rufus</span> na windows tak, jak jste zvyklí. (přímý odkaz na instalační soubor <a class="text-red-500" href="https://github.com/pbatard/rufus/releases/download/v4.1/rufus-4.1.exe">zde</a>)</p>
  <p>Stáhněte instalační soubor Debianu ze stránky <a href="https://www.debian.org/download">zde</a>. V době tvorby tohoto návodu je jeho název <span class="font-semibold">debian-12.0.0-amd64-netinst.iso</span>, číslo reprezentující verzi se může v budoucnu lišit.</p>
  <p><span class="font-semibold">Otevřete aplikaci Rufus a zapojte Váš usb flash disk</span> (!! o data na flash disku tímto procesem přijdete, proto prosím použijte disk prázdný, nebo s daty, která nepotřebujete!!)</p>
</div>

<div>
  <img src={% static 'img/rufus1.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div>Na zvýrazněném místě se musí zobrazit váš usb flash disk.</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus2.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">Select</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus3.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1">Vyberte dříve stažený <span class="font-semibold">instalační soubor debianu</span>.</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus4.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">START</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus5.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">OK</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus6.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">Yes</span></div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus7.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">OK</span></div>

<hr class="border border-gray-400 w-full my-1">

<div class="w-full">
	<p><span class="font-semibold">Nyní bude probíhat samotná tvorba live-usb, může to nějakou dobu trvat&hellip;</span></p>
</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/rufus8.PNG' %}>
</div>

<hr class="border border-gray-400 w-full my-1">

<div class="my-1"><span class="font-semibold">READY</span></div>

<div class="w-full">
	<p>Naše <span class="font-semibold">live-usb je připravené</span>.</p>
</div>

<hr class="border border-black w-full my-1">

<div class="font-semibold text-xl mb-2">Instalace na hardware</div> 

<p>Vaše zařízení s vloženým diskem <span class="font-semibold">zapojte do zdroje</span>, připojte ho k Vašemu routeru <span class="font-semibold">internetovým</span> kabelem a připojte naše <span class="font-semibold">live-usb</span>.</p>

<div>
  <img src={% static 'img/hardware1.jpg' %}>
</div>

<div class="w-full">
	<p>Při zapínání zařízení musíme vybrat jako <span class="font-semibold">zdroj bootování</span> naše <span class="font-semibold">live-usb</span>.</p>
</div>

<div class="w-full">
	<p>Proto se musíme dostat do <span class="font-semibold">boot menu při zapínání počítače</span>.</p>
</div>

<div class="w-full">
	<p>Toho se docílí různě, záleží na modelu vašeho zařízení, pro zjištění hledejte instrukce přímo k vašemu zařízení nebo aspoň výrobci na internetu, ale většinou vidíte nějaké instrukce na obrazovce již při zapínání počítače.</p>
</div>

<a name="preboot"></a>
<button class="bg-red-300 p-1 px-3 rounded-md"><a href={% url 'boot-tips' %}>Více</a></button>

<div class="w-full">
	<p>Na mém thinkpadu stačí po zmáčknutí tlačítka napájení mačkat tlačítko f12.</p>
</div>

<div>
  <img src={% static 'img/hardware2.jpg' %}>
</div>

<div>
  <img src={% static 'img/hardware3.jpg' %}>
</div>
  
<hr class="border border-gray-400 w-full my-1">

<div class="w-full">
  <p><span class="font-semibold">Vyberte jako zdroj bootování USB disk.</span></p>
</div>

<hr class="border border-gray-400 w-full my-1">

<div>
  <img src={% static 'img/hardware4.jpg' %}>
</div>

<div class="w-full">
  <p>bug- Secure boot? Bios lock?</p>
</div>
  
<div class="w-full">
  <p>Nyní musíme provést samotnou instalaci debianu, naštěstí má celá instalace velmi příjemné uživatelské prostředí, zvolte jazyk podle vašeho výběru a instalaci projděte krok po kroku. Pro pomoc přikládám fotografie z takové probíhající instalace.</p>
</div>
  
<a name="debianinstalace"></a>
<button class="bg-red-300 p-1 px-3 rounded-md"><a href={% url 'debian-instalace' %}>Instalace Debianu</a></button>

    
<div class="w-full">
  <p>Během restartování zařízení po úspěšné instalaci nezapomeňte vypojit <span class="font-semibold">live-usb</span>.</p>
</div>

<div class="w-full">
  <p>Po restartu byste měli vidět tmavou obrazovku a na ní napsáno něco podobného:</p>
</div>
    
<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Debian GNU/Linux 12 server tty1  
    
server login: <span class="animate-pulse">_</span>
  </pre>
</div>
    
    
    
<div class="w-full">
  <p><span class="font-semibold">Gratuluji</span> k úspěšné instalaci debianu!</p> 
</div>

<hr class="border border-black w-full my-1">

<div class="font-semibold text-xl mb-2">Sudo</div> 

<div class="w-full">
	<p>Nyní musíme dát našemu účtu práva administrátora, abychom mohli provádět změny a instalovat programy. K tomu využijeme program <span class="font-semibold">sudo</span>.</p>
</div>
<div class="w-full">
	<p>Nejdříve se však musíme přihlásit pomocí <span class="font-semibold">root</span> účtu, nainstalovat a nastavit program <span class="font-semibold">sudo</span>.</p>
</div>



<div class="js-more-div my-1 flex flex-col justify-center items-center gap-2">
  <div class="js-more-text hidden mb-2">
    <p class="my-1">Root účet je speciální uživatelský účet na UNIX-like operačních systémech, který má nejvyšší úroveň přístupových práv. Má kompletní kontrolu nad systémem a může provádět jakékoli operace, včetně změn v kritických částech systému. Zabezpečení root účtu je důležité, protože zneužití tohoto účtu může vést k vážným problémům a ohrožení systému.</p>
    <p class="my-1">Sudo je nástroj, který umožňuje běžným uživatelům vykonávat příkazy s oprávněními root účtu. Tímto způsobem není nutné se přihlašovat přímo jako root uživatel, což snižuje riziko chyb a zabezpečení systému. Sudo také poskytuje možnost řízení přístupových práv pro různé uživatele a skupiny.</p>
    <p class="my-1">Nastavení sudo je lepší volbou, protože umožňuje oddělení běžných uživatelských operací od operací vyžadujících zvýšená práva. To znamená, že můžete být běžným uživatelem a příležitostně vykonávat administrátorské úkony pomocí sudo, místo aby byl váš účet trvale v režimu root. Tím se minimalizuje riziko chyb a zneužití root přístupu a zvyšuje se celková bezpečnost systému.</p>
  </div>
  <button class="js-more-button bg-red-300 p-1 px-3 rounded-md">Více<button>
</div>

<div>
  <ol class="list-decimal list-inside">
    <li>
	    Pro přihlášení napište <span class="font-semibold">root</span> a zmáčkněte ENTER.
    </li>
    <li>
	    Poté Vaše <span class="font-semibold">heslo administrátora</span> (které jste nastavili během instalace) a ENTER. (během psaní hesla neuvidíte, že se něco píše, je to tak správně)
    </li>
  </ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
Debian GNU/Linux 12 server tty1

server login: root
Password:
Linux server 6.1.0-9-amd64 #1 SMP PREEMPT_DYNAMIC Debian 6.1.27-1 (2023-05-08) X86_64

The programs included with the Debian GNU/Linux system are free software:
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO HARRANTY, to the extent
permitted by applicable law.
root@server:~$ <span class="animate-pulse">_</span>
  </pre>
</div>

<div class="w-full">
  <ol class="list-decimal list-inside" start="3">
    <li>Aktualizujeme seznam dostupných software balíčků:</li>
  </ol>
</div>

<div class="w-full bg-black text-white">
  <pre class="whitespace-pre-line m-3">
apt update
  </pre>
</div>

<div class="w-full">
  <p>(pokud chcete rozumět příkazu apt a tomu, o čem je tu vlastně řeč:)</p>
</div> 

<a name="preapt"></a>
<button class="bg-red-300 p-1 px-3 rounded-md"><a href={% url 'apt' %}>apt návod</a></button>

</div>
</div>

<script src="{% static 'js/cloud-návod.js' %}"></script>

{% endblock %}

